<div class="create-container">

    <form class="update-form" [formGroup]="createForm" (ngSubmit)="onSubmit()">
        <mat-icon class="close_btn" (click)="Btn_close()">close</mat-icon>
        <mat-form-field class="field" appearance="fill">
            <mat-label>fullName</mat-label>
            <input type="fullName" matInput [formControl]="fullNameFormControl" [errorStateMatcher]="matcher"
                placeholder="Ex. pat@example.com">
            <mat-error *ngIf="fullNameFormControl.hasError('required')">
                fullName is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="field" appearance="fill">
            <mat-label>position</mat-label>
            <input type="position" matInput [formControl]="positionFormControl" [errorStateMatcher]="matcher"
                placeholder="Ex. pat@example.com">

            <mat-error *ngIf="positionFormControl.hasError('required')">
                position is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="field" appearance="fill">
            <mat-label>phoneNumber</mat-label>
            <input type="phoneNumber" matInput [formControl]="phoneNumberFormControl" [errorStateMatcher]="matcher"
                placeholder="Ex. pat@example.com">

            <mat-error *ngIf="phoneNumberFormControl.hasError('required')">
                phoneNumber is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="field" appearance="fill">
            <mat-label>Email</mat-label>
            <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                placeholder="Ex. pat@example.com">
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
                Email is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <!-- <mat-form-field class="field" appearance="fill">
            <mat-label>Password</mat-label>
            <input type="password" matInput [formControl]="passwordFormControl" [errorStateMatcher]="matcher"
                placeholder="Ex. pat@example.com">
                ////////
            <mat-error *ngIf="passwordFormControl.hasError('password') && !passwordFormControl.hasError('required')">
                Please enter a valid password address
            </mat-error>
            <mat-error *ngIf="passwordFormControl.hasError('required')">
                Password is <strong>required</strong>
            </mat-error>
        </mat-form-field> -->
        <div class="center-flex">
            <button mat-flat-button color="primary">Ajouter</button>
        </div>
    </form>
</div>